<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolução dos Computadores</title>
    <link rel="stylesheet" href="evolucao.css">

</head>

<body>
    <div class="card">
        <h2>1° Geração (1951-1959)</h2>
        <p>Os computadores de primeira geração funcionavam por meio de circuitos e válvulas eletrônicas. Possuíam o uso
            restrito, além de serem imensos e consumirem muita energia. Um exemplo é o ENIAC (Eletronic Numerical
            Integrator and Computer) que consumia cerca de 200 quilowatts e possuía 19.000 válvulas.</p>
    </div>
    <div class="card">
        <h2>2° Geração (1959-1965)</h2>
        <p>Ainda com dimensões muito grandes, os computadores da segunda geração funcionavam por meio de transistores,
            os quais substituíram as válvulas que eram maiores e mais lentas. Nesse período já começam a se espalhar o
            uso comercial.
        </p>
    </div>
    <div class="card">
        <h2>3° Geração (1965-1975)</h2>
        <p>Os computadores da terceira geração funcionavam por circuitos integrados. Esses substituíram os transistores e já apresentavam uma dimensão menor e maior capacidade de processamento.

            Foi nesse período que os chips foram criados e a utilização de computadores pessoais começou.
            
            
        </p>
    </div>
    <div class="card">
        <h2>4° Geração (1975-atualmente)</h2>
        <p>Com o desenvolvimento da tecnologia da informação, os computadores diminuem de tamanho, aumentam a velocidade e capacidade de processamento de dados. São incluídos os microprocessadores com gasto cada vez menor de energia.
        </p>
    </div>

</body>

</html>