<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolução dos Computadores</title>
    <link rel="stylesheet" href="evolucao.css">
    
</head>
<body>
    <div class="card">
        <h2>1° Geração (1951-1959)</h2>
        <p>Os computadores de primeira geração funcionavam por meio de circuitos e válvulas eletrônicas. Possuíam o uso restrito, além de serem imensos e consumirem muita energia. Um exemplo é o ENIAC (Eletronic Numerical Integrator and Computer) que consumia cerca de 200 quilowatts e possuía 19.000 válvulas.</p>

    </div>
    <div class="card">
        
    </div>
    <div class="card">
        
    </div>
    <div class="card">
        
    </div>
    
</body>
</html>