<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia dos Computadores</title>
    <link rel="stylesheet" href="historia.css">
</head>
<body>

    <div class="title shadowText">
        História
    </div>
    <div class="historia">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius laudantium corrupti dolore assumenda magni hic, voluptas et autem vel soluta eligendi inventore, non provident cum dicta aspernatur explicabo accusamus ipsa.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, placeat numquam repudiandae ratione molestias assumenda? Ipsum dicta totam magnam placeat earum ipsa iusto ea, omnis illum repellat dolore quod adipisci.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius laudantium corrupti dolore assumenda magni hic, voluptas et autem vel soluta eligendi inventore, non provident cum dicta aspernatur explicabo accusamus ipsa.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, placeat numquam repudiandae ratione molestias assumenda? Ipsum dicta totam magnam placeat earum ipsa iusto ea, omnis illum repellat dolore quod adipisci.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius laudantium corrupti dolore assumenda magni hic, voluptas et autem vel soluta eligendi inventore, non provident cum dicta aspernatur explicabo accusamus ipsa.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, placeat numquam repudiandae ratione molestias assumenda? Ipsum dicta totam magnam placeat earum ipsa iusto ea, omnis illum repellat dolore quod adipisci.
        </p>

    </div>
    
</body>
</html>