<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia e Evolução</title>
    <link rel="stylesheet" href="historia.css">
</head>
<body>
    <main>
        <img src="../../imgs/ithyel.png" alt="ithyel" id="boneco">
        <img src="../../imgs/Anast+ício.png" alt="anastacio" id="boneco2">

        <div class="container">
            <div class="card">
               <a href="historia-page.html">História</a> 
            </div>

            <div class="card">
                <a href="evolucao.html">Evolução</a>
            </div>
        </div>
        <div>
            <h2>Escolha uma opção acima para continuar....</h2>
        </div>
    </main>
</body>
</html>