<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia dos Computadores</title>
    <link rel="stylesheet" href="historia.css">
</head>
<body>

    <div class="title shadowText">
        História
    </div>
    <div class="historia">
        <p id="pText"></p>
        <div class="btn-area">
            <button id="btnVoltarTexto">voltar</button>
            <button id="btnAvancarTexto">avançar</button>
        </div>
    </div>
    

    <script src="../../script/historia.js"></script>
</body>
</html>