<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas</title>
    <link rel="stylesheet" href="problemas.css">
</head>
<body>
    <main>
        <div class="cards-container">
            <div class="card">
                <h2>superaquecimento</h2>
            </div>
            <div class="card">
                <h2>falha no disco rigido</h2>
            </div>
            <div class="card">
                <h2>conexão de cabos</h2>
            </div>
            <div class="card">
                <h2>problema da memoria ram</h2>
            </div>
            <div class="card">
                <h2>problema da placa mãe</h2>
            </div>
            <div class="card">
                <h2>problema na placa de vídeo</h2>
            </div>
            <div class="card">
                <h2>problema na fonte de alimentação</h2>
            </div>
        </div>
        
    </main>

    <div class="content-area">

    </div>

    <script src="../../script/problemas.js"></script>
</body>
</html>