<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes</title>
    <link rel="stylesheet" href="componentes.css">
</head>
<body>
    <main>
        <div class="card">
            <img src="https://th.bing.com/th?id=OPHS.k0pri0hWFw98Zw474C474&w=248&h=248&o=5&pid=21.1" alt="">
            <h2>PROCESSADOR</h2>
            <br>
            <p>lorem ipsum odor odeon la caracia</p>
        </div>
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.0xeQIq53wN05waquqZxEIQEsDj?w=241&h=182&c=7&r=0&o=5&pid=1.7" alt="">
            <h2>HD</h2>
            <br>
            <p>lorem ipsum odor odeon la caracia</p>
        </div>
        <div class="card">
            <img src="" alt="">
            <h2>COOLER</h2>
            <br>
            <p>lorem ipsum odor odeon la caracia</p>
        </div>
        <div class="card">
            <img src="https://cf.shopee.com.br/file/76265dca428679d9ab4298801c913c72" alt="">
            <h2>PLACA MÃE</h2>
            <br>
            <p>lorem ipsum odor odeon la caracia</p>
        </div>
    </main>
</body>
</html>