<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes</title>
    <link rel="stylesheet" href="componentes.css">
</head>
<body>
    <header>
        <button> <a href="#">voltar</a></button>
        <button><a href="componentes-2.html">avançar</a></button>
    </header>
    <main>
        <div class="card">
            <img src="ims-componentes/processador.png" alt="">
            <h2>PROCESSADOR</h2>
            <br>
            <p> cérebro do computador é responsável por executar instruções e processar dados.</p>
        </div>
        <div class="card">
            <img src="ims-componentes/hd.png" alt="">
            <h2>HD</h2>
            <br>
            <p>Armazena permanentemente dados, programas e sistema operacional. </p>
        </div>
        <div class="card">
            <img src="ims-componentes/cooler.png" alt="">
            <h2>COOLER</h2>
            <br>
            <p>Dissipa o calor gerado pelos componentes, como o processador.</p>
        </div>
        <div class="card">
            <img src="ims-componentes/placa-mae.png" alt="">
            <h2>PLACA MÃE</h2>
            <br>
            <p> placa principal que conecta todos os componentes do computador.</p>
        </div>
    </main>
</body>
</html>