<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes</title>
    <link rel="stylesheet" href="componentes.css">
</head>
<body>
    <header>
        <button><a href="componentes.html">voltar</a></button>
        <button><a href="#">avançar</a></button>
    </header>
    <main>
        <div class="card">
            <img src="ims-componentes/ram.png" alt="">
            <h2>memoria RAM</h2>
            <br>
            <p>Armazena temporariamente dados e instruções que estão sendo usados ​​pelo processador.</p>
        </div>
        <div class="card">
            <img src="ims-componentes/placa-de-video.png" alt="">
            <h2>placa de video</h2>
            <br>
            <p>Responsável pelo processamento gráfico, crucial para exibir imagens e vídeos</p>
        </div>
        <div class="card">
            <img src="ims-componentes/gabinete.png" alt="">
            <h2>gabinete</h2>
            <br>
            <p>Uma estrutura que abriga todos os componentes do computador.</p>
        </div>
        <div class="card">
            <img src="ims-componentes/fonte.png" alt="">
            <h2>fonte</h2>
            <br>
            <p>fornecer energia elétrica para todos os componentes do computador.</p>
        </div>
    </main>
</body>
</html>