<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe</title>
    <link rel="stylesheet" href="equipe.css">
</head>
<body>
    <main>
        <div class="card">
            <img src="https://github.com/marillya004.png">
            <h2>Marillya Loiola</h2>
        </div>
        <div class="card">
            <img src="https://github.com/Luis-Eduardo-Rodrigues.png">
            <h2>Luis Eduardo Rodrigues</h2>
        </div>
        <div class="card">
            <img src="https://github.com/ithyel-cavalcante.png">
            <h2>Ithyel Cavalcante</h2>
        </div>
        <div class="card">
            <img src="https://github.com/GustaavoVieira.png">
            <h2>Gustavo Marinho</h2>
        </div>
        <div class="card">
            <img src="img-equipe/tataco.jpg">
            <h2>Anastácio Júnior</h2>
        </div>
    </main>
</body>
</html>