<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desmontagem</title>
    <link rel="stylesheet" href="desmontagem.css">
</head>

<body>
    <main>
        <h1>Passo a passo - DESMONTAGEM</h1>
        <section class="container">
            <section class="video-area">
                <iframe width="500" height="350" id="video"
                    src="https://www.youtube.com/embed/-Ms96xmQPtM?si=tXIBq1dN9RzQJZyM" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </section>
            <section class="text-area">
                <ol type="1">
                    <h3> - PRINCIPAIS PONTOS DA DESMONTAGEM - </h3>
                    <br>
                    <li>Desligar o computador e desconectá-lo da tomada</li>
                    <li>Desconectar todos os cabos dos periféricos e deixar o gabinete livre</li>
                    <li>Remover os parafusos das laterais</li>
                    <li>Retirar a fonte, todos os cabos e conectores ligados aos dispositivos internos</li>
                    <li>Remover demais cabos de dados, HD, placas de expansão e drivers</li>
                    <li>Retirar o cooler e, por último, o processador.</li>
                </ol>
            </section>
        </section>
    </main>

</body>

</html>